<% content_for :title, "Editing trayecto" %>

<h1>Editing trayecto</h1>

<%= render "form", trayecto: @trayecto %>

<br>

<div>
  <%= link_to "Show this trayecto", @trayecto %> |
  <%= link_to "Back to trayectos", trayectos_path %>
</div>
